# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Yi Jing Low\Desktop\University of Essex\Year_2\Spring Term 2021\challenge-week\challenge-software_low_yi_j\java-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
